/** Stilen för det grundläggande produktkortet **/
.basic-card {
  width: var(--card-w-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  background-color: var(--brand-background);
  color: var(--brand-on-background);
  border-radius: 5px;
  gap: 0.3rem;
}

/** Anpssa det grundläggande kortet till desktop och tablet versionen **/
@media screen and (min-width: 700px) {
  .basic-card {
    width: var(--card-w-desktop);
  }
}