.button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--brand-secondary), var(--brand-logo-background));
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-on-secondary);
  border-radius: 0;
  border: 1px var(--brand-on-secondary) solid;
}

.button:hover {
  background: linear-gradient(0deg, var(--brand-secondary), var(--brand-logo-background));
}

.button:active {
  background: linear-gradient(60deg, var(--brand-secondary), var(--brand-logo-background));
}