/** Vyn täcker hela webbplatsen och är lite genomskinlig - utgör bakgrunden för dialogrutan **/
#modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--brand-background);
  opacity: 90%;
}

/** Stilen för dialogrutan **/
#dialog {
  position: fixed;
  top: 20%;
  z-index: 2;
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 300px;
  background-color: var(--brand-logo-background);
}

#dialog h3 {
  width: 100%;
  height: 40px;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-primary);
}

#dialog p {
  padding: 0 2rem;
  padding-top: 2rem;
}

#dialog img {
  width: 100px;
  height: auto;
  margin: 1rem 0;
}

#dialog .button {
  width: 95%;
  border-radius: 0 !important;
}

/** Anpassa dialogrutan till mindre skärmar **/
@media screen and (min-width: 500px) {
  #dialog {
    width: 70%;
  }
}

@media screen and (min-width: 800px) {
  #dialog {
    width: 40%;
  }
}