#main {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: inherit;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--brand-surface);
  padding-bottom: 20%;
}

#main h1 {
  width: inherit;
  height: var(--page-title-height);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--brand-on-primary);
  background-color: var(--brand-primary);
}

#main .button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--brand-secondary), var(--brand-logo-background));
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-on-secondary);
  border: 1px var(--brand-on-secondary) solid;
}

#main .button:hover {
  background: linear-gradient(0deg, var(--brand-secondary), var(--brand-logo-background));
}

#main .button:active {
  background: linear-gradient(60deg, var(--brand-secondary), var(--brand-logo-background));
}