#main {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: inherit;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--brand-surface);
  padding-bottom: 20%;
}

#main h1 {
  width: 100%;
  height: var(--page-title-height);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--brand-on-primary);
  background-color: var(--brand-primary);
}

#main .card-holder {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  flex-direction: column;
}

.anchor:link, 
.anchor:link, 
.anchor:visited, 
.anchor:active {
  display: block;
  text-decoration: underline;
  text-align: center;
  color: var(--brand-secondary);
}

.anchor:hover {
  color: var(--brand-primary);
}

.anchor:active {
  color: var(--brand-logo-background) !important;
}

