/** Stilen navigationsmenyn **/
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/** Stilen för navigeringsknappen (den lilla sex-prickars ikon) **/
.nav button {
  width: inherit;
  height: var(--nav-height);
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--brand-background);
  border: none;
  padding-right: 0.6rem;
}

/** Stilen för  navigeringsrutterna  **/
#routes {
  width: inherit;
  height: var(--nav-height-collapsed);
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--brand-background);
  list-style: none;
  padding: 0;
  margin: 0;
}

#routes li:last-child {
  border-bottom: 1px var(--brand-on-background) solid;
}

#routes li {
  width: inherit;
  text-align: center;
  font-size: 20px;
  border-top: 1px var(--brand-on-background) solid;
}

/** Stilen för den aktuella rutten **/
#routes .selected {
  color: var(--brand-primary);
  text-decoration: none;
  list-style: none;
}

/** Anpassa stilen på rutterna baserat på om musen täcker rutterna eller om de pressas **/
#routes a, a:link, a:visited {
  display: block;
  text-decoration: none;
  padding: 0.7rem 0;
  color: var(--brand-on-background);
}

#routes a:hover, .selected:hover {
  color: var(--brand-secondary);
}

#routes a:active, .selected:active {
  color: var(--brand-on-background);
}

#menu-btn {
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/** Anpassa navigerinsmenyn efter större skärmar (utlöser navigeringsmenyn för desktop och tablet versionen) **/
@media screen and (min-width: 500px) {
  .nav button {
    display: none;
  }

  #routes {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  #routes li,
  #routes li:last-child {
    width: fit-content;
    border: none;
  }

  #routes li a {
    padding: 0 1rem;
  }
}