.store-card {
  width: var(--card-w-mobile);
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  text-align: start;
  background-color: var(--brand-background);
  color: var(--brand-on-background);
  border-radius: 5px;
  gap: 1rem;
}

.store-card__details {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.4rem;
}

.store-card__action-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.store-card #info-btn img,
.store-card #cart-btn img,
.store-card #trash-btn img,
.store-card #player-btn img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--action-icon-w);
  height: var(--action-icon-h);
}

.store-card #info-btn,
.store-card #cart-btn,
.store-card #trash-btn,
.store-card #player-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--brand-secondary);
}

.store-card #info-btn:active,
.store-card #cart-btn:active,
.store-card #trash-btn:active,
.store-card #player-btn:active {
  background-color: var(--brand-primary);
}

@media screen and (min-width: 700px) {
  .store-card {
    width: var(--card-w-desktop);
  }
}





