.store-card {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  width: 95%;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  text-align: start;
  background-color: var(--brand-background);
  color: var(--brand-on-background);
  border-radius: 5px;
  gap: 1rem;
}

.store-card__details {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.4rem;
}

.store-card img {
  height: 100px;
}

.store-card__action-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

#info-btn img,
#cart-btn img,
#trash-btn img,
#player-btn img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--action-icon-w);
  height: var(--action-icon-h);
}

#info-btn,
#cart-btn,
#trash-btn,
#player-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--brand-secondary);
}

#info-btn:active,
#cart-btn:active,
#trash-btn:active,
#player-btn:active {
  background-color: var(--brand-primary);
}






