.video-card {
  width: var(--card-w-mobile);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  background-color: var(--brand-background);
  color: var(--brand-on-background);
  border-radius: 5px;
  gap: 0.5rem;
}

.video-card .clip {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.video-card .clip video {
  aspect-ratio: 16 / 9;
  width: 100vw;
  height: auto;
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  .video-card {
    width: var(--card-w-desktop);
  }
}